/** Search form */
.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply mb-4;

  font-weight: normal;
}

.search-form .search-field {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-grey-darker border border-grey rounded;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-grey-lightest bg-grey;

  &:hover {
    @apply bg-grey-light;
  }
}

// Resetear input focus

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
.uneditable-input {
  @apply bg-grey-lighter;

  font-size: 0.8rem;
  font-weight: 100;
  width: calc(100% - 2em);
  margin-top: 10px;
  padding: 1em;
  border: none;
  outline: 0 none;
  box-shadow: none;

  &:focus {
    @apply bg-grey-dark;

    color: white;
    border: none;
    outline: 0 none;
    box-shadow: none;

    &::placeholder {
      @apply text-white;
    }
  }

  &::placeholder {
    @apply text-black;
  }
}

[role="alert"] {
  font-size: 12px !important;
  width: calc(100% - 20px);
  padding: 5px 10px 3px;
  text-transform: none;
}

// wp-forms lite

.wpforms-field-hp {
  position: absolute !important;
  left: -9000px !important;
  display: none !important;
}

// Específicos de ANV

.wpforms-container .wpforms-field {
  padding: 0;
}

.wpforms-field textarea {
  min-height: 200px;
}

.wpforms-submit {
  @apply mt-8 bg-naranja;

  padding: 10px;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #fff;
  border: none;
}

.wpforms-container .wpforms-one-half {
  width: calc(50% - 5px);
  margin-left: 10px;
}
