:focus {
  outline: none;
}

html {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight uppercase font-normal text-naranja tracking-02;
}

p {
  @apply mb-3 leading-normal;
}

a {
  @apply text-primary no-underline;

  transition: 0.2s ease;

  &:hover {
    @apply border-primary;
  }
}

body:not(.home) {
  .content {
    h2 {
      @apply text-base;
    }

    p,
    ol,
    ul {
      @apply font-serif leading-normal text-sm text-grey-darkest;
    }
  }
}
