/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 12px;
$hamburger-layer-color: config("colors.marron");
$hamburger-types: (spring);

$color-naranja: config("colors.naranja");
$color-marron: config("colors.marron");

$trans: 0.5s;

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "#{$slick-loader-path}fonts/";

$pad: 30px;
$pad-1: calc(#{$pad} / 2);
$pad-2: calc(#{$pad-1} * 2);
$pad-3: calc(#{$pad-1} * 3);
$pad-4: calc(#{$pad-1} * 4);
