/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 12px;
$hamburger-layer-color: config("colors.marron");
$hamburger-types: (spring);
