.home {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .c-bg-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -900;
  }

  .container-grid {
    max-width: 1000px;
  }

  .grid {
    .serie {
      .data-wrap {
        h2 {
          font-weight: normal;
          display: block;
        }
      }
    }
  }

  @screen md {
    .descripcion {
      top: 100px;
      left: 25px;

      p span {
        @apply block;
      }
    }

    .grid {
      .slick-slide {
        position: relative;

        .fondo {
          width: 100%;
        }
      }
    }

    .c-bg-image {
      @apply block;
    }
  }

  @screen lg {
    .descripcion {
      top: 125px;
      left: 50px;
    }
  }

  @screen xl {
    .descripcion {
      top: 150px;
      left: 100px;
    }
  }
}
