.home {
  .c-bg-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1000;
  }

  .grid {
    margin-top: $pad-4;

    .serie {
      .data-wrap {
        h2 {
          font-weight: normal;
          display: block;
        }
      }
    }
  }

  @screen md {
    .grid {
      position: absolute;
      width: 500px;
      right: 100px;
      bottom: 100px;

      .slick-slide {
        width: 500px;
        background-color: white;
        opacity: 0.75;
      }
    }

    .c-bg-image {
      @apply block;
    }
  }

  @screen lg {
    .grid {
      width: 700px;

      .slick-slide {
        width: 700px;
      }
    }
  }

  @screen xl {
    .grid {
      width: 900px;

      .slick-slide {
        width: 900px;
      }
    }
  }
}
