.banner {
  .container {
    padding-top: 14px;
    padding-bottom: 9px;

    .brand {
      letter-spacing: 0.1em;
      line-height: 0.9em;

      .archive {
        position: relative;
        top: -4px;
      }

      .anv {
        border-left: 2px solid config("colors.naranja");
        position: relative;
        padding-bottom: 4px;
        padding-left: 12px;
        top: -2px;
      }
    }

    .nav {
      @apply list-reset flex flex-wrap;

      a {
        @apply inline-block px-4 border-none;

        &:hover {
          color: darken(#525ddc, 100%);
        }
      }
    }
  }

  .hamburger {
    top: 13px;
    right: 14px;
  }
}
