.tax-serie {
  .page-header {
    h1 {
      @apply mx-4 text-base text-center my-4 py-4 border-t border-b border-naranja text-marron;
    }
  }
}

.lg-outer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* stylelint-disable */

.lg-actions {
  .lg-icon {
    background-color: rgba(255, 255, 255, 0.63);
    color: #000;

    &:hover {
      @apply text-grey-light;
    }
  }
}

.lg-toolbar {
  @apply fixed bg-black opacity-100 bg-white text-naranja border-t border-b border-naranja;

  margin-top: 55px;
  top: 0;

  .lg-icon {
    @apply text-marron;

    &:hover {
      @apply text-grey-light;
    }
  }

  #lg-counter {
    @apply font-sans text-naranja text-sm;

    padding-top: 15px;
  }
}

/* stylelint-enable */

.lg-backdrop {
  display: none;
}

.lg-sub-html {
  @apply bg-white mb-10 text-naranja text-xs p-0;
}
